<table>
	<tr>
		<th>Date</th>
		<th>Client</th>
		<th>Title</th>
		<th>Authors</th>
	</tr>
	
<% for (const item of items) { %>
	<tr <%= metadataAttrs(item) %>>
		<td><%= item.date %></td>
		<td><%= item.client %></td>
		<td><a href="<%- item.path %>"><%= item.title %></a></td>
		<td><%= item.author %></td>
	</tr>
<% } %>
</table>